body {
  margin: 0;
  padding: 0;
  font-family: "Brygada 1918", serif;
  height: 100vh;
}

/*?----------------------- MOBILE-VERSION ------------------------ */
/* -------------------- MENU DE NAVEGACION -----------------------*/
nav {
  grid-area: navbar;
  background-color: #0f0b26;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid rgb(24, 22, 22) 0.1px;
}

.logo {
  height: 3.5em;
  padding-left: 1em;
  transition: transform 0.5s ease;
  animation: color-change 0.5s infinite;
}

.logo:hover {
  animation: zoom-animation 0.5s infinite;
}

@keyframes zoom-animation {
  0% {
    transform: scale(1);
    filter: hue-rotate(0deg);
  }
  50% {
    transform: scale(1.2);
    filter: hue-rotate(180deg);
  }
  100% {
    transform: scale(1);
    filter: hue-rotate(360deg);
  }
}

.toggler {
  margin-bottom: 0.8em;
}

/* ---------------------SECCION PRINCIPAL------------------------*/
main {
  grid-area: main;
  text-align: center;
  background-image: url(../img/wall-main.jpg);
  overflow-y: auto;
}

.grid-container {
  height: 100vh;
  display: grid;
  grid-template-areas:
    "navbar"
    "main"
    "footer";
  grid-template-rows: 1fr 11fr 1fr;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: auto auto auto auto;
  row-gap: 0.8em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}

.card {
  height: 20em;
  width: 100%;
  position: relative;
}

.product-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: grayscale(100%);
  transition: filter 1s;
}

.product-img:hover {
  object-fit: cover;
  filter: grayscale(1%);
  cursor: pointer;
}

.card-title {
  margin-bottom: 0.3em;
  margin-top: 0.6em;
  display: inline;
}

.txt {
  font-size: x-small;
  margin-bottom: 0;
  margin-top: 0;
}

.description-container {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 0 10px 10px 10px;
}

/* ---------------------------FOOTER-----------------------------*/
footer {
  grid-area: footer;
  background-color: #0f0b26;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: solid rgb(24, 22, 22) 0.1px;
}

i {
  padding-top: 1em;
  color: white;
  margin-right: 1em;
  padding-bottom: em;
}

.footer-txt {
  color: white;
  margin: 0;
  font-size: 0.8em;
  padding-bottom: 1em;
}

.more,
.iconf,
.toggler,
li:hover {
  cursor: pointer;
}

ul {
  display: none;
}

/*?----------------------- TABLET-VERSION ------------------------ */

@media (min-width: 768px) {
  /* -------------------- MENU DE NAVEGACION -----------------------*/
  nav {
    grid-area: navbar;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  ul {
    display: flex;
    color: white;
    list-style-type: none;
    align-items: center;
    padding-left: 10em;
  }

  li {
    display: flex;
    padding-left: 2em;
  }

  /* ---------------------SECCION PRINCIPAL------------------------*/

  .main-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    row-gap: 1em;
    column-gap: 0.5em;
    grid-auto-rows: 1fr;
  }

  /* ---------------------------FOOTER-----------------------------*/

  nav .toggler {
    display: none;
  }
}

/*?----------------------- DESKTOP-VERSION ------------------------ */
@media (min-width: 992px) {
  /* -------------------- MENU DE NAVEGACION -----------------------*/
  nav {
    display: flex;
    grid-area: navbar;
    background-color: #0f0b26;
    justify-content: start;
    align-items: center;
    flex-direction: column;
  }

  .logo {
    height: 4em;
    margin-top: 1em;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    list-style-type: none;
    margin-top: 2em;
    margin-left: 0;
    padding: 0;
  }

  li {
    margin: 0 2em 1em 0;
  }

  /* ---------------------SECCION PRINCIPAL------------------------*/
  main {
    display: flex;
    grid-area: main;
    background-color: whitesmoke;
    text-align: center;
    align-items: start;
    justify-content: center;
    background-color: black;
  }

  .grid-container {
    height: 100vh;
    display: grid;
    grid-template-areas:
      "navbar main main"
      "navbar main main"
      "navbar main main"
      "footer main main";
    grid-template-rows: 1fr 7fr 1fr;
    grid-template-columns: 1fr 6fr 1fr;
  }

  .main-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1em;
    padding-left: 0.8em;
  }

  .card:nth-child(4) {
    grid-column-start: span 2;
    width: 99%;
  }

  .card {
    height: 18.7em;
    width: 98%;
    background-color: white;
    border: solid #cccaca 1px;
  }

  .product-img {
    height: 100%;
    object-fit: cover;
  }

  .card-title {
    margin: 0.3em 0 0.6em;
  }

  .img4 {
    width: 98.1%;
    height: 15%;
  }

  /* ---------------------------FOOTER-----------------------------*/
  footer {
    grid-area: footer;
    background-color: #0f0b26;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
  }

  .iconf {
    margin-right: 0.3em;
  }
}
